<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index.html" class="brand-link">
    <img
      src="../assets/images/lte/AdminLTELogo.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">Menu de puentes</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="../assets/images/lte/user2-160x160.jpg"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a *ngIf="!username" href="#" class="d-block">USAC CUNOC</a>
        <a *ngIf="username" href="#" class="d-block">{{ username }}</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input
          class="form-control form-control-sidebar"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
          <a class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/dashboard" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard v1</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-header">PUENTES</li>
        <li class="nav-item" *ngIf="isAdmin">
          <a routerLink="/new-bridge" class="nav-link">
            <i class="nav-icon far fa-plus-square"></i>
            <p>
              Nuevo puente
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a routerLink="/delete-bridge" class="nav-link">
            <i class="nav-icon fas fa-trash"></i>
            <p>
              Eliminar puente
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>

        <li class="nav-header">AREA DE TRABAJO</li>
        <li class="nav-item">
          <a routerLink="/selectExistingBridges" class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>Nuevo registro</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/selectBridge" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>
              Puentes en proceso
              <span class="badge badge-info right">{{ bridges.length }}</span>
            </p>
          </a>
        </li>

        <li class="nav-header">FORO</li>
        <li class="nav-item">
          <a routerLink="/all-registrations" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              Registros
              <span class="right badge badge-danger">New</span>
            </p>
          </a>
        </li>

        <li class="nav-header">CATEGORIAS</li>
        <li class="nav-item" *ngIf="isAdmin">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-image"></i>
            <p>
              Puentes
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/new-bridge" class="nav-link">
                <i class="nav-icon far fa-plus-square"></i>
                <p>
                  Nuevo puente
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/delete-bridge" class="nav-link">
                <i class="nav-icon fas fa-trash"></i>
                <p>
                  Eliminar puente
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Trabajo
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/selectExistingBridges" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>Nuevo registro</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/selectBridge" class="nav-link">
                <i class="nav-icon fas fa-edit"></i>
                <p>
                  Puentes en proceso
                  <span class="badge badge-info right">{{
                    bridges.length
                  }}</span>
                </p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-search"></i>
            <p>
              Foro
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/all-registrations" class="nav-link">
                <i class="nav-icon fas fa-table"></i>
                <p>
                  Registros
                  <span class="right badge badge-danger">New</span>
                </p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item" *ngIf="isAdmin">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Usuarios
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/new-admin" class="nav-link">
                <i class="far fa-user nav-icon"></i>
                <p>Crear Administrador</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Otros
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/examples/contacts.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Contactos</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/examples/faq.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>FAQ</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-header">DIVERSO</li>
        <li class="nav-item">
          <a href="https://adminlte.io/docs/3.1/" class="nav-link">
            <i class="nav-icon fas fa-file"></i>
            <p>Documentation</p>
          </a>
        </li>
        <li class="nav-header"></li>
        <li *ngIf="!isLogged" class="nav-item d-none d-sm-inline-block">
          <a routerLink="/login" class="nav-link">
            <i class="fa fa-sign-in-alt"></i> Iniciar sesion</a
          >
        </li>
        <li
          *ngIf="isLogged"
          (click)="onLogOut()"
          class="btn btn-outline-danger my-2 my-sm-0 hover"
        >
          <a style="cursor: pointer" class="nav-link hover">
            <i class="fas fa-door-open"></i> Cerrar sesion</a
          >
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
