<table class="container">
  <tbody>
    <app-handrail-railing
      [handrailRailing]="handrailRailing"
    ></app-handrail-railing>
    <app-railing-posts [railingPosts]="railingPosts"></app-railing-posts>
    <app-barrier [barrier]="barrier"></app-barrier>

    <div *ngFor="let slabAccess of slabAccessList">
      <app-slab-access [slabAccess]="slabAccess"></app-slab-access>
    </div>

    <div *ngFor="let protectionWorks of protectionWorksList">
      <app-protection-works
        [protectionWorks]="protectionWorks"
      ></app-protection-works>
    </div>

    <div *ngFor="let council of councilList">
      <app-council [council]="council"></app-council>
    </div>
  </tbody>
</table>
