<table class="container">
  <tbody>
    <tr>
      <td colspan="2">Pasamanos barandal (especificar lado)</td>
    </tr>
    <tr>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Material</label>
        </span>
      </td>

      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Ausencia de seccion</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Deformacion de elemento</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <p-inputNumber
            [inputStyle]="{ width: '100%' }"
            mode="decimal"
            locale="en-US"
            [minFractionDigits]="2"
          ></p-inputNumber>
          <label class="label" for="float-input">Golpeado (longitud)</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Pintura</label>
        </span>
      </td>

      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Otros (Especificar)</label>
        </span>
      </td>
    </tr>
    <tr>
      <td colspan="2">Postes barandal (especificar lado)</td>
    </tr>
    <tr>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Material</label>
        </span>
      </td>

      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Ausencia de seccion</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Deformacion de elemento</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <p-inputNumber [inputStyle]="{ width: '100%' }" inputId="integeronly">
          </p-inputNumber>
          <label class="label" for="float-input">Golpeados (cuantos)</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Pintura</label>
        </span>
      </td>

      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Otros (Especificar)</label>
        </span>
      </td>
    </tr>
    <tr>
      <td colspan="2">Barreras</td>
    </tr>
    <tr>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Material</label>
        </span>
      </td>

      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Grietas en una direccion</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Grietas en dos direcciones</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <p-inputNumber
            [inputStyle]="{ width: '100%' }"
            mode="decimal"
            locale="en-US"
            [minFractionDigits]="2"
          ></p-inputNumber>
          <label class="label" for="float-input">Golpeado (longitud)</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Pintura</label>
        </span>
      </td>

      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Otros (Especificar)</label>
        </span>
      </td>
    </tr>

    <!-- va al ultimo  EMPIEZAN LAS LOSAS-->
    <tr>
      <td colspan="2">Losa acceso (entrada)</td>
    </tr>
    <tr>
      <td colspan="2">
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Material</label>
        </span>
      </td>

      <td colspan="2">
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Buen estado</label>
        </span>
      </td>
      <td colspan="2">
        <div>
          <label class="label" for="float-input">Daños</label>
        </div>
        <p-dropdown
          [options]="danios"
          optionLabel="label"
          optionValue="value"
          placeholder="Daños"
          [editable]="true"
          [virtualScroll]="true"
        ></p-dropdown>
      </td>
    </tr>
    <tr>
      <td colspan="2">Losa acceso (salida)</td>
    </tr>
    <tr>
      <td colspan="2">
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Material</label>
        </span>
      </td>

      <td colspan="2">
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Buen estado</label>
        </span>
      </td>
      <td colspan="2">
        <div>
          <label class="label" for="float-input">Daños</label>
        </div>
        <p-dropdown
          [options]="danios"
          optionLabel="label"
          optionValue="value"
          placeholder="Daños"
          [editable]="true"
          [virtualScroll]="true"
        ></p-dropdown>
      </td>
    </tr>

    <!-- TERMINAN LAS LOSAS -->

    <!-- INICIO DE OBRAS PROTECCION -->

    <tr>
      <td colspan="2">Obras proteccion (aguas arriba)</td>
    </tr>
    <tr>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Material</label>
        </span>
      </td>

      <td colspan="2">
        <div>
          <label class="label" for="float-input">Tipo</label>
        </div>
        <p-dropdown
          [options]="tipos"
          optionLabel="label"
          optionValue="value"
          placeholder="Tipo"
          [editable]="true"
          [virtualScroll]="true"
        ></p-dropdown>
      </td>
      <td>
        <span class="p-float-label">
          <p-inputNumber
            [inputStyle]="{ width: '100%' }"
            mode="decimal"
            locale="en-US"
            [minFractionDigits]="2"
          ></p-inputNumber>
          <label class="label" for="float-input">Largo</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <p-inputNumber
            [inputStyle]="{ width: '100%' }"
            mode="decimal"
            locale="en-US"
            [minFractionDigits]="2"
          ></p-inputNumber>
          <label class="label" for="float-input">Ancho</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <p-inputNumber
            [inputStyle]="{ width: '100%' }"
            mode="decimal"
            locale="en-US"
            [minFractionDigits]="2"
          ></p-inputNumber>
          <label class="label" for="float-input">Altura</label>
        </span>
      </td>
    </tr>

    <tr>
      <td colspan="2">Obras proteccion (aguas abajo)</td>
    </tr>
    <tr>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Material</label>
        </span>
      </td>

      <td colspan="2">
        <div>
          <label class="label" for="float-input">Tipo</label>
        </div>
        <p-dropdown
          [options]="tipos"
          optionLabel="label"
          optionValue="value"
          placeholder="Tipo"
          [editable]="true"
          [virtualScroll]="true"
        ></p-dropdown>
      </td>
      <td>
        <span class="p-float-label">
          <p-inputNumber
            [inputStyle]="{ width: '100%' }"
            mode="decimal"
            locale="en-US"
            [minFractionDigits]="2"
          ></p-inputNumber>
          <label class="label" for="float-input">Largo</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <p-inputNumber
            [inputStyle]="{ width: '100%' }"
            mode="decimal"
            locale="en-US"
            [minFractionDigits]="2"
          ></p-inputNumber>
          <label class="label" for="float-input">Ancho</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <p-inputNumber
            [inputStyle]="{ width: '100%' }"
            mode="decimal"
            locale="en-US"
            [minFractionDigits]="2"
          ></p-inputNumber>
          <label class="label" for="float-input">Altura</label>
        </span>
      </td>
    </tr>

    <!-- fIN DE OBRAS PROTECCION -->

    <tr>
      <td colspan="2">Junta (entrada)</td>
    </tr>
    <tr>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Material</label>
        </span>
      </td>

      <td colspan="2">
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Falta elemento</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Junta limpia</label>
        </span>
      </td>
      <td colspan="2">
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Daños</label>
        </span>
      </td>
    </tr>
    <tr>
      <td colspan="2">Junta (salida)</td>
    </tr>
    <tr>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Material</label>
        </span>
      </td>

      <td colspan="2">
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Falta elemento</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Junta limpia</label>
        </span>
      </td>
      <td colspan="2">
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Daños</label>
        </span>
      </td>
    </tr>
    <tr>
      <td colspan="2">Juntas intermedias</td>
    </tr>
    <tr>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Material</label>
        </span>
      </td>

      <td colspan="2">
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Falta elemento</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Junta limpia</label>
        </span>
      </td>
      <td colspan="2">
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Daños</label>
        </span>
      </td>
    </tr>
  </tbody>
</table>
