<!-- Navbar -->
<app-navbar></app-navbar>
<!-- /.navbar -->
<!-- Main Sidebar Container -->
<app-sidebar></app-sidebar>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <app-page-header pageTitle="Datos del puente"></app-page-header>
  <!-- /.content-header -->
  <!-- Main content -->
  <div class="content">
    <div class="display">
      <div class="side">
        <div class="card" (click)="showPuenteDialog()">Puente</div>
        <div class="card" (click)="showGeneralDialog()">General</div>
        <div class="card" (click)="tramosForm = !tramosForm">Tramos</div>
        <div class="card" (click)="entradaForm = !entradaForm">
          Estribo entrada
        </div>
        <div class="card" (click)="salidaForm = !salidaForm">
          Estribo salida
        </div>
        <div class="card" (click)="pilasForm = !pilasForm">Pilas</div>
        <div class="card" (click)="superForm = !superForm">
          Super-estructura
        </div>
        <div class="card" (click)="elementosForm = !elementosForm">
          Elementos no estructurales
        </div>
        <div class="card" (click)="cauceForm = !cauceForm">Cauce</div>
        <div class="card" (click)="otrosForm = !otrosForm">Otros</div>
      </div>
      <div class="form">
        <app-gallery></app-gallery>
        <button
          (click)="endRegister()"
          class="btn btn-block btn-success btn-lg"
        >
          Finalizar el registro
        </button>
        <!-- Puente de izabal -->
        <h6 style="margin-top: 0px"></h6>
        <div>
          <!-- <app-bridges-table></app-bridges-table> -->
        </div>
      </div>
    </div>
  </div>

  <p-dialog
    header="Puente"
    [(visible)]="puenteForm"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [maximizable]="true"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="dialog-content">
      <app-information-table></app-information-table>
    </div>
    <ng-template pTemplate="footer">
      <h6>Los cambios se guardaran automaticamente</h6>

      <p-button
        icon="pi pi-check"
        (click)="puenteForm = false"
        label="Aceptar"
        class="p-button-text"
      ></p-button>
      <p-button
        icon="pi pi-times"
        (click)="puenteForm = false"
        label="Cerrar"
      ></p-button>
    </ng-template>
  </p-dialog>

  <p-dialog
    header="Informacion General"
    [(visible)]="generalForm"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [maximizable]="true"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="dialog-content">
      <app-general-table></app-general-table>
    </div>
    <ng-template pTemplate="footer">
      <h6>Los cambios se guardaran automaticamente</h6>

      <p-button
        icon="pi pi-check"
        (click)="generalForm = false"
        label="Aceptar"
        class="p-button-text"
      ></p-button>
      <p-button
        icon="pi pi-times"
        (click)="generalForm = false"
        label="Cerrar"
      ></p-button>
    </ng-template>
  </p-dialog>

  <p-dialog
    header="Tramos"
    [(visible)]="tramosForm"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [maximizable]="true"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="dialog-content">
      <app-tramo-table></app-tramo-table>
    </div>
    <ng-template pTemplate="footer">
      <h6>Los cambios se guardaran automaticamente</h6>

      <p-button
        icon="pi pi-check"
        (click)="tramosForm = false"
        label="Aceptar"
        class="p-button-text"
      ></p-button>
      <p-button
        icon="pi pi-times"
        (click)="tramosForm = false"
        label="Cerrar"
      ></p-button>
    </ng-template>
  </p-dialog>

  <p-dialog
    header="SUB-ESTRUCTURA: Estribo de entrada"
    [(visible)]="entradaForm"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [maximizable]="true"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="dialog-content">
      <app-entrada-table></app-entrada-table>
    </div>
    <ng-template pTemplate="footer">
      <h6>Los cambios se guardaran automaticamente</h6>

      <p-button
        icon="pi pi-check"
        (click)="entradaForm = false"
        label="Aceptar"
        class="p-button-text"
      ></p-button>
      <p-button
        icon="pi pi-times"
        (click)="entradaForm = false"
        label="Cerrar"
      ></p-button>
    </ng-template>
  </p-dialog>

  <p-dialog
    header="SUB-ESTRUCTURA: Estribo de salida"
    [(visible)]="salidaForm"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [maximizable]="true"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="dialog-content">
      <app-salida-table></app-salida-table>
    </div>
    <ng-template pTemplate="footer">
      <h6>Los cambios se guardaran automaticamente</h6>

      <p-button
        icon="pi pi-check"
        (click)="salidaForm = false"
        label="Aceptar"
        class="p-button-text"
      ></p-button>
      <p-button
        icon="pi pi-times"
        (click)="salidaForm = false"
        label="Cerrar"
      ></p-button>
    </ng-template>
  </p-dialog>

  <p-dialog
    header="SUB-ESTRUCTURA: Pilas"
    [(visible)]="pilasForm"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [maximizable]="true"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="dialog-content">
      <app-pilas-table></app-pilas-table>
    </div>
    <ng-template pTemplate="footer">
      <h6>Los cambios se guardaran automaticamente</h6>

      <p-button
        icon="pi pi-check"
        (click)="pilasForm = false"
        label="Aceptar"
        class="p-button-text"
      ></p-button>
      <p-button
        icon="pi pi-times"
        (click)="pilasForm = false"
        label="Cerrar"
      ></p-button>
    </ng-template>
  </p-dialog>

  <p-dialog
    header="Super-estructura"
    [(visible)]="superForm"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [maximizable]="true"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="dialog-content">
      <app-super-table></app-super-table>
    </div>
    <ng-template pTemplate="footer">
      <h6>Los cambios se guardaran automaticamente</h6>

      <p-button
        icon="pi pi-check"
        (click)="superForm = false"
        label="Aceptar"
        class="p-button-text"
      ></p-button>
      <p-button
        icon="pi pi-times"
        (click)="superForm = false"
        label="Cerrar"
      ></p-button>
    </ng-template>
  </p-dialog>

  <p-dialog
    header="Elementos no estructurales"
    [(visible)]="elementosForm"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [maximizable]="true"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="dialog-content">
      <app-elementos-table></app-elementos-table>
    </div>
    <ng-template pTemplate="footer">
      <h6>Los cambios se guardaran automaticamente</h6>

      <p-button
        icon="pi pi-check"
        (click)="elementosForm = false"
        label="Aceptar"
        class="p-button-text"
      ></p-button>
      <p-button
        icon="pi pi-times"
        (click)="elementosForm = false"
        label="Cerrar"
      ></p-button>
    </ng-template>
  </p-dialog>

  <p-dialog
    header="Caracteristicas del cauce"
    [(visible)]="cauceForm"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [maximizable]="true"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="dialog-content">
      <app-cauce-table></app-cauce-table>
    </div>
    <ng-template pTemplate="footer">
      <h6>Los cambios se guardaran automaticamente</h6>

      <p-button
        icon="pi pi-check"
        (click)="cauceForm = false"
        label="Aceptar"
        class="p-button-text"
      ></p-button>
      <p-button
        icon="pi pi-times"
        (click)="cauceForm = false"
        label="Cerrar"
      ></p-button>
    </ng-template>
  </p-dialog>

  <p-dialog
    header="Otros"
    [(visible)]="otrosForm"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [maximizable]="true"
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="dialog-content">
      <app-otros-table></app-otros-table>
    </div>
    <ng-template pTemplate="footer">
      <h6>Los cambios se guardaran automaticamente</h6>

      <p-button
        icon="pi pi-check"
        (click)="otrosForm = false"
        label="Aceptar"
        class="p-button-text"
      ></p-button>
      <p-button
        icon="pi pi-times"
        (click)="otrosForm = false"
        label="Cerrar"
      ></p-button>
    </ng-template>
  </p-dialog>

  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<!-- Main Footer -->
<app-footer></app-footer>
<!-- /.Footer -->

<p-toast
  position="bottom-center"
  key="c"
  (onClose)="onReject()"
  [baseZIndex]="5000"
>
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
      <div class="text-center">
        <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
        <h4>{{ message.summary }}</h4>
        <p>{{ message.detail }}</p>
      </div>
      <div class="grid p-fluid">
        <div class="col-6">
          <button
            type="button"
            pButton
            (click)="onConfirm()"
            label="Si"
            class="p-button-success"
          ></button>
        </div>
        <div class="col-6">
          <button
            type="button"
            pButton
            (click)="onReject()"
            label="No"
            class="p-button-secondary"
          ></button>
        </div>
      </div>
    </div>
  </ng-template>
</p-toast>
