<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form>
  <h3>Bienvenido</h3>

  <label for="username">Usuario</label>
  <input type="text" placeholder="Email or Phone" id="username" />

  <label for="password">Contraseña</label>
  <input type="password" placeholder="Password" id="password" />

  <button (click)="login()">Iniciar</button>
  <div class="social">
    <div class="go"><i class="fab fa-google"></i> Google</div>
    <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
  </div>
</form>
