<table class="container">
  <tbody>
    <tr>
      <td colspan="2">Viga cabezal</td>
    </tr>
    <tr>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Material</label>
        </span>
      </td>

      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Grietas en una direccion</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Grietas en dos direcciones</label>
        </span>
      </td>

      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Otros</label>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="p-float-label">
          <p-inputNumber
            [inputStyle]="{ width: '100%' }"
            mode="decimal"
            locale="en-US"
            [minFractionDigits]="2"
          ></p-inputNumber>
          <label class="label" for="float-input">Altura (m)</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <p-inputNumber
            [inputStyle]="{ width: '100%' }"
            mode="decimal"
            locale="en-US"
            [minFractionDigits]="2"
          ></p-inputNumber>
          <label class="label" for="float-input">Ancho (m)</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Perdida de petreos por golpe</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Exposicion de acero</label>
        </span>
      </td>
    </tr>

    <tr>
      <td colspan="2">Columnas</td>
    </tr>
    <tr>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Material</label>
        </span>
      </td>

      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Grietas en una direccion</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Grietas en dos direcciones</label>
        </span>
      </td>

      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Otros</label>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="p-float-label">
          <p-inputNumber
            [inputStyle]="{ width: '100%' }"
            mode="decimal"
            locale="en-US"
            [minFractionDigits]="2"
          ></p-inputNumber>
          <label class="label" for="float-input">Altura (m)</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <p-inputNumber
            [inputStyle]="{ width: '100%' }"
            mode="decimal"
            locale="en-US"
            [minFractionDigits]="2"
          ></p-inputNumber>
          <label class="label" for="float-input">Ancho (m)</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Perdida de petreos por golpe</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Exposicion de acero</label>
        </span>
      </td>
    </tr>

    <tr>
      <td colspan="2">Cuerpo (muro de gravedad)</td>
    </tr>
    <tr>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Material</label>
        </span>
      </td>

      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Grietas en una direccion</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Grietas en dos direcciones</label>
        </span>
      </td>

      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Otros</label>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="p-float-label">
          <p-inputNumber
            [inputStyle]="{ width: '100%' }"
            mode="decimal"
            locale="en-US"
            [minFractionDigits]="2"
          ></p-inputNumber>
          <label class="label" for="float-input">Altura (m)</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <p-inputNumber
            [inputStyle]="{ width: '100%' }"
            mode="decimal"
            locale="en-US"
            [minFractionDigits]="2"
          ></p-inputNumber>
          <label class="label" for="float-input">Ancho (m)</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Perdida de petreos por golpe</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Exposicion de acero</label>
        </span>
      </td>
    </tr>

    <tr>
      <td colspan="2">Apoyos</td>
    </tr>
    <tr>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Material</label>
        </span>
      </td>

      <td colspan="2">
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Neopreno aplastado</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Fuera de lugar</label>
        </span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Oxidado</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Falta perno</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Perno roto</label>
        </span>
      </td>
      <td>
        <span class="p-float-label">
          <input class="input" type="text" pInputText />
          <label class="label">Otros</label>
        </span>
      </td>
    </tr>
  </tbody>
</table>
