<form [formGroup]="form" novalidate>
  <tr>
    <td colspan="2">Drenaje Superestructura</td>
  </tr>
  <tr>
    <td>
      <span class="p-float-label">
        <input formControlName="clean" class="input" type="text" pInputText />
        <label class="label">Limpios</label>
      </span>
    </td>

    <td>
      <span class="p-float-label">
        <input formControlName="blocked" class="input" type="text" pInputText />
        <label class="label">Obstruidos</label>
      </span>
    </td>
  </tr>
</form>
